.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_form {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px 0px;
    border-radius: 10px;
    margin-top: 50px;
}

.inner_form h3 {
    margin-bottom: 15px;
    margin: 20px 0px;
    margin-top: 15px;
}


.inner_form input {
    width: 90%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-bottom: 15px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.inner_form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    padding: 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 0px;
}



/* list */



.inner_list {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
}
h3 {
    margin-top: 50px;
}
.list_sub {
    color: #7fffd4;
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 1px solid #e5e5e5;
}
.list_item {
    color: aquamarine;
    font-weight: bold;
    color: #fff;
    padding: 10px 0px;
}
.list_item svg{
    width: 20px;
}
.list_item button{
background-color: transparent;
border: none;
padding: 0;
margin-right: 5px;
}